/**********************************************
*** GENERAL
**********************************************/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: #555;
	font-size: 16px;
	font-weight: 400;
	background-color: #f1f1ff;
}

/**********************************************
*** Header
**********************************************/
.top {
	background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(./images/laptop.jpg);
	background-size: cover;
	background-position: center;
	height: 300px;
	color: #ffffff;
}

.budget {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 50px;
}

.budget__title {
	font-size: 18px;
	margin-bottom: 10px;
}

.budget__value {
	font-weight: 300;
	margin-bottom: 10px;
	font-size: 46px;
}

.budget__income {
	display: flex;
	justify-content: space-between;
	height: 46px;
	width: 300px;
	background-color: #28B9B5;
	margin-bottom: 10px;
}

.budget__income--text, .budget__expense--text {
	color: #444444;
}

.right {
	display: flex;
}

.budget__expense {
	display: flex;
	width: 300px;
	height: 46px;
	background-color: #FF5049;
	justify-content: space-between;
}

.budget__income, .budget__expense {
	padding: 14px;
	text-transform: uppercase;
}

.budget__expense--value {
	margin-right: 8px;
}

/**********************************************
*** Main
**********************************************/

.add {
	background-color: #f7f7f7;
	border-bottom: 1px solid #e7e7e7;
	padding: 14px;
	text-align: center;
}

.add__type {
	border: 1px solid #e7e7e7;
	width: 55px;
	height: 42px;
	background-color: #ffffff;
	transition: border 0.3s;
	border-radius: 5px;
	margin-right: 10px;
	font-size: 14px;
	color: inherit;
	font-weight: 300;
}

.add__desc {
	width: 400px;;
}

.add__value {
	width: 100px;
}

.add__desc, .add__value {
	border: 1px solid #e7e7e7;
	padding: 12px 15px;
	height: 42px;
	color: inherit;
	font-size: 14px;
	background-color: #ffffff;
	transition: border 0.3s;
	border-radius: 5px;
	margin-right: 10px;
}

.add__submit {
	font-size: 38px;
	background: none;
	color: #28B9B5;
	border: none;
	cursor: pointer;
	vertical-align: middle;
}

.container {
	display: flex;
	justify-content: space-around;
	margin-top: 50px;
}

.item {
	display: flex;
	justify-content: space-between;
	width: 400px;
	height: 39px;
	font-size: 14px;
	font-weight: 300;
	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;
	padding: 10px;
}

.income__list .right {
	color: #28B9B5;
	font-weight: 400;
}

.expenses__list .right {
	color: #FF5049;
	font-weight: 400;
}

.item__delete--btn {
	background: none;
	border: none;
	color: inherit;
	font-size: 16px;
	vertical-align: middle;
	cursor: pointer;
}

.item__value {
	margin-right: 10px;
}

.budget__expense--percentage, .item__expense--percentage {
	margin-right: 8px;
	background-color: #FF998F;
	border-radius: 3px;
	font-size: 11px;
	font-weight: 400;
	padding: 3px 0;
	width: 34px;
	text-align: center;
}

.income__title {
	color: #28B9B5;
}

.expense__title {
	color: #FF5049;
}

.income__title, .expense__title {
	text-transform: uppercase;
	font-weight: 400;
	font-size: 18px;
	margin-bottom: 15px;
}

.item__delete {
	display: none;
}

.item:hover .item__delete{
	display: block;
}

.red-focus {
	color: #FF5049;
}

.red-focus:focus {
	border: 4px solid #FF5049;
}

/**********************************************
*** Footer
**********************************************/

.footer {
	background-color: #f7f7f7;
	text-align: center;
	border-top: 1px solid #e4e4e4;
	position: fixed;
	padding: 0.5rem;
	font-size: 18px;
	bottom: 0;
	width: 100%;
}
